body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

h1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.banner {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 24px;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 20px;
}

main h2 {
    grid-column: span 2; /* Spans both columns */
}

h2 {
    color: navy;
    text-align: left;
}

article p {
    text-align: justify;
}

.callout {
    grid-column: span 2; /* Makes it span both columns */
    background-color: #f0f0f0;
    color: #333333;
    padding: 20px;
}

footer {
    margin-top: 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    font-size: smaller;
    text-align: left;
}
