/* styles.css */
:root {
    --primary-color: #005500; /* Darker green */
    --secondary-color: #bea71f; /* Accessible yellow */
    --background-color: white;
    --text-color: black;
  }
  
  body {
    font-family: 'Roboto', 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1rem;
  }
  
  #hero img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  #data {
    padding: 1rem;
    text-align: center;
  }
  
  #data ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #data li {
    margin-bottom: 0.5rem;
  }
  
  #weather {
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
  }
  
  #weather img {
    width: 50px;
    height: 50px; /* SVG styling moved to CSS */
  }
  
  footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 0.5rem;
  }
  
  @media (max-width: 599px) {
    main {
      display: flex;
      flex-direction: column;
    }
  
    #data, #weather {
      margin-bottom: 1rem;
    }
  }
  
  @media (min-width: 600px) {
    main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      max-width: 1160px;
      margin: 0 auto;
    }
  
    #hero {
      grid-column: span 2;
    }
  
    #data, #weather {
      align-self: center;
    }
  }
  